<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <div>
            <img src="./assets/images/drum-logo.svg" alt="eCommerce HTML Template">
            <a class="navbar-brand text-main fw-bold h1" href="#"> Whiplash</a>
        </div>
        <div class="collapse navbar-collapse " id="collapsibleNavId">
            <ul  class="navbar-nav me-auto mt-2 mt-lg-0">
                <li *ngIf="isLogin" class="nav-item">
                    <a  class="nav-link fw-bold" routerLink="home">Home</a>
                </li>
                <li  *ngIf="isLogin" class="nav-item">
                    <a  class="nav-link fw-bold" routerLink="about">About</a>
                </li>  
                <li  *ngIf="isLogin" class="nav-item">
                    <a class="nav-link fw-bold" routerLink="cart">Cart</a>
                </li>  
                <li *ngIf="isLogin" class="nav-item">
                    <a  class="nav-link fw-bold" routerLink="products">Products</a>
                </li>  
                <li  *ngIf="isLogin" class="nav-item">
                    <a class="nav-link fw-bold" routerLink="categories">Categories</a>
                </li>  
                <li  *ngIf="isLogin" class="nav-item">
                    <a  class="nav-link fw-bold" routerLink="brands">Brands</a>
                </li>
            </ul>
        </div>
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                        <i class="fab mx-2 fa-facebook"></i>
                        <i class="fab mx-2 fa-instagram"></i>
                        <i class="fab mx-2 fa-tiktok"></i>
                        <i class="fab mx-2 fa-twitter"></i>
                        <i class="fab mx-2 fa-linkedin"></i>
                        <i class="fab mx-2 fa-youtube"></i>
                </li>
                <li *ngIf="!isLogin" class="nav-item">
                    <a  class="nav-link fw-bold" routerLink="login">Login</a>
                </li>
                <li *ngIf="!isLogin" class="nav-item">
                    <a  class="nav-link fw-bold" routerLink="signup">Sign Up</a>
                </li> 
                <li *ngIf="isLogin" class="nav-item">
                    <span (click)="logOut()" class=" cursor-pointer nav-link">Log out</span>
                </li> 
            </ul>
    </div>
</nav>
